
body {

 background-color: #E8E8E8;

}


h1 {

  text-align:center;
  font-family: 'Sansita One', cursive;
  font-size:3.5em;
  margin-top:10px;
  margin-bottom: 10px;

}


fieldset {

  border: 1px solid #ccc ;
  background-color:#F0F0F0 ;

}

form {

    margin:0 auto;
    max-width:500px;
}


label {

  display: block;
  margin-top:10px;
  font-family: 'Kameron', serif;
  font-weight:700;

}


input {

  width:100%;
  font-family: 'Kameron', serif;
}

button {

  margin:10px 180px;
  padding:10px 20px;
  font-family: 'Sansita One', cursive;
  font-size:1.2em;

  
}
